@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown::-webkit-scrollbar {
    width: 12px;
}

.dropdown::-webkit-scrollbar-track {
    margin: 4px;
    border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: #1e3a8a;
    border-radius: 50px;
    border: 2px solid #e7e5e4;
}

.text-outline-blue {
    text-shadow:
            -2px -2px 0 #1e3a8a,
            2px -2px 0 #1e3a8a,
            -2px  2px 0 #1e3a8a,
            2px  2px 0 #1e3a8a;
}

